.side_content{
	margin-top:30px;
}
.login{
	margin-top:50px;
	margin-bottom:122px;
}
.icon-bottom{
	margin-bottom:-10px;
}
.login-center{
	text-align:center;
}
.login-face-center{
	text-align:center;
}
.today-news-font{
	font-size:18px;
}
.a_fontcolor{
	color:#ffffff;
}
.review_css{
	margin-top:15px;
	width:841px;
	margin-right:auto;
	margin-left:auto;
}
.activity_img{
	height:332.56px;
}
.my_lostInfo_style{
	margin-right:auto;
	margin-left:auto;
}
ol.am-control-nav.am-control-thumbs img{
	height:170px;
}

a.am-btn-primary:visited, a.am-btn-danger:visited, a.am-btn-warning:visited, a.am-btn-secondary:visited, a.am-btn-success:visited {
	color: #fff;
}

.loginBtn {
	background: transparent;
	border: none;
	color: #666;
}

.am-list-news-default .am-list .am-list-thumb img {
	width: 40px;
}

.am-list > li > a {
	display: contents;
}

.am-btn-link:hover {
	color: #333;
	text-decoration: none;
}

a {color: #333;}
